*{
    margin: 0;
    padding: 0;
}
.bannar{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    align-items: center;
}
.bannar-headline{
    color: white;
    font-size: 38px;
    font-weight: bold;
    padding-top: 200px;
    font-family: 'Oswald', sans-serif;
}
.bannar-text{
    margin: 30px;
    color: rgb(157, 255, 0);
    font-size: 20px;
    font-weight: bold;
}
.bannar-btn{
    padding: 15px 30px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.bannar-btn:hover{
    background-color: white;
    color: black;
    transition: .80s;
}